html,body{
	margin:0;
	padding:0;
	font-family:arial,sans-serif;
}

html{
	background:#efefef;
}
body{
	width:800px;
	margin:20px auto;
	background:#fff;
	padding:20px;
	border:1px solid #ddd;
	border-radius:5px;
    }
h1{
	margin:0 0 20px 0;
	padding:0 0 20px 0;
	border-bottom:1px solid #ddd;
	font-size:20px;
	color:#F5685A;
}
h2{
	color:#555;
	padding:0;
	margin:0 0 20px 0;
	font-size:16px;
}
td{
	text-align:center;
}
.login input[type="text"],input[type="password"]{
	font-size:14px;
	width:140px;
}


.errors{

    background:#fee;
    border:1px solid #900;
    font-size:13px;
    margin:25px 0;
}

.info{
	background:#def;
	border:1px solid #09f;
	font-size:13px;
	padding:10px;
	margin:25px 0;
}

.admin h2{
	margin-top: 40px;
	margin-bottom:20px;
	border-bottom:1px solid #ddd;
	padding-bottom:15px;
}
.admin input{
	margin-bottom:10px;
	font-size:16px;
}

.admin form{
	margin-bottom:50px;
}
input[type="submit"]{
	cursor:pointer;
}
input[type="button"]{
	cursor:pointer;
}

input[type="number"] {
	-moz-appearance:textfield;
}
input[name="address"]{
	width:500px;
}
.confirm{
	margin-left:20px;
	margin-top:20px;
	margin-bottom:-5px;
}

.customer{
	font-size:14px;
	color:#555;
}
.Cbtngroup,.Abtngroup{
	margin-top:15px;
}
.Cbtngroup{
	margin-bottom:20px;
}
.Cbtngroup input[type="button"],.Abtngroup input[type="button"],.Cbtngroup input[type="submit"]{
	padding:5px;
	cursor:pointer;
}
.Abtngroup input[type="button"]{
	margin-right:15px;
}
.Cbtngroup input[type="button"],.Cbtngroup input[type="submit"]{
	margin-right:5px;
	float:left;
	
}

.customerpro{
	font-size: 14px;
	margin-top:15px;
	color:#555;
}
.customerpro h2{
	border-bottom: 1px solid #ddd;
	padding-bottom:10px;
	margin-top:25px;
}
.customerpro form {
    margin-top:20px;
    margin-bottom:15px;
}
.customerpro input{
	font-size:15px;
	margin-bottom:10px;
}
.nodata {
	font-size:14px;
	color:#888;
}
.sppointer{
	cursor:pointer;
}
#timer{
	display:inline;
	float:right;
	color:#134f72;
	font-size:18px;
}

